{% extends 'main/base.html' %}

{% block content %}

<h2>Транспортное средство {{car.name}}</h2>
<a href="{% url 'update_car' car.pk %}">update_car</a>
<a href="{% url 'delete_car' car.pk  %}">delete_car</a>
<br>
<br>

<div class="row">
    <div class="col-6">
        <h3><a href="{% url 'add_pass_one_time' car.pk %}">Добавить разовый пропуск</a></h3>


        {% if one_time_passes %}
        Разовые:
        {% for pass in one_time_passes %}

        <p>{{pass.start|date:"d.m.Y"}} - {{pass.end|date:"d.m.Y"}} <a href="{% url 'update_pass_one_time' pass.pk %}">update</a>/<a href="{% url 'delete_pass_one_time' pass.pk %}">delete</a> </p>

        {% endfor %}
        {% endif %}
    </div>

    <div class="col">
        <h3><a href="{% url 'add_pass_year' car.pk %}">Добавить годовой пропуск</a></h3>


        {% if year_passes %}
        Годовые:
        {% for pass in year_passes %}

        <p>{{pass.start|date:"d.m.Y"}} - {{pass.end|date:"d.m.Y"}} <a href="{% url 'update_pass_year' pass.pk %}">update</a>/<a href="{% url 'delete_pass_year' pass.pk %}">delete</a></p>
        <p>Можно продлить с {{pass.date_can_be_extended|date:"d.m.Y"}}</p>
        {% endfor %}
        {% endif %}
    </div>
</div>



<br>






{% endblock content %}
