{% extends 'main/base.html' %}

{% block content %}

<div class="card">
    <div class="card-header text-center">
        <h2>Транспортное средство {{car.name}} <a href="{% url 'update_car' car.pk %}">обновить</a>
<a href="{% url 'delete_car' car.pk  %}">удалить</a></h2>
    </div>
    <div class="card-body text-center">
        <blockquote class="blockquote mb-0">

        </blockquote>
    </div>
</div>

<div class="row mt-3">
    <div class="col-4">
        <div class="card">
            <h5 class="card-header">годовой дневной <a href="{% url 'add_pass_year' car.pk %}" class="btn btn-primary">Добавить</a> </h5>
            <div class="card-body">
                <h5 class="card-title">
                    {% if year_pass_day %}
                    {% for pass in year_pass_day %}
                    {{pass.start|date:"d.m.Y"}} - {{pass.end|date:"d.m.Y"}}
                    <a href="{% url 'update_pass_year' pass.pk %}" class="btn btn-primary btn-sm">обновить</a>
                    <a href="{% url 'delete_pass_year' pass.pk %}" class="btn btn-danger btn-sm">удалить</a>
                    {% endfor %}
                    {% if car.date_extended_pass_year_day %}
                    Можно продлить c {{car.date_extended_pass_year_day|date:"d.m.Y"}}
                    {% endif %}
                    {% else %}
                    Пропусков нет
                    {% endif %}
                </h5>

            </div>
        </div>
    </div>


    <div class="col-4">
        <div class="card">
            <h5 class="card-header">годовой ночной <a href="{% url 'add_pass_year' car.pk %}" class="btn btn-primary">Добавить</a> </h5>
            <div class="card-body">
                <h5 class="card-title">
                    {% if year_pass_night %}
                    {% for pass in year_pass_night %}
                    {{pass.start|date:"d.m.Y"}} - {{pass.end|date:"d.m.Y"}}
                    <a href="{% url 'update_pass_year' pass.pk %}" class="btn btn-primary btn-sm">обновить</a>
                    <a href="{% url 'delete_pass_year' pass.pk %}" class="btn btn-danger btn-sm">удалить</a>
                    {% endfor %}
                    {% if car.date_extended_pass_year_day %}
                    Можно продлить c {{car.date_extended_pass_year_day|date:"d.m.Y"}}
                    {% endif %}
                    {% else %}
                    Пропусков нет
                    {% endif %}
                </h5>

            </div>
        </div>
    </div>


    <div class="col-4">
        <div class="card">
            <h5 class="card-header">разовые <a href="{% url 'add_pass_one_time' car.pk %}" class="btn btn-primary">Добавить</a></h5>
            <div class="card-body">
                <h5 class="card-title">
                    {% if one_time_passes %}
                    {% for pass in one_time_passes %}
                    <div class="row mb-1">
                        <div class="col-7">
                            {{pass.start|date:"d.m.Y"}} - {{pass.end|date:"d.m.Y"}}
                        </div>
                        <div class="col">
                            <a href="{% url 'delete_pass_one_time' pass.pk %}" class="btn btn-danger btn-sm">удалить</a>
                        </div>
                    </div>
                    {% endfor %}
                    {% if car.date_extended_pass_one_time %}
                    Можно продлить c {{car.date_extended_pass_one_time|date:"d.m.Y"}}
                    {% endif %}
                    {% else %}
                    Пропусков нет
                    {% endif %}
                </h5>

            </div>
        </div>
    </div>
</div>

{% endblock content %}
