{% extends 'main/base.html' %}


{% block content %}
<a href="{% url 'add_car' %}" class="btn btn-primary mb-3">Добавить ТС</a>


<div class="row">
    {% for car in cars %}
    <div class="col-4">
        <div class="card">
            <h5 class="card-header text-center"><a href="{{car.get_absolute_url}}">{{car.name}}</a></h5>
            <div class="card-body">
                <h5 class="card-title">
                    {% for pass in car.year_passes.all %}
                    {% if pass.times_of_day == 'day' %}
                    дневной {{pass.start|date:"d.m.Y"}} - {{pass.end|date:"d.m.Y"}}
                    <br>
                    <span style="color:{{car.color_extended_pass_year_day}}">можно продлить c {{car.date_extended_pass_year_day|date:"d.m.Y"}}
                    {% endif %}
                    <br>
                    {% if pass.times_of_day == 'night' %}
                    ночной {{pass.start|date:"d.m.Y"}} - {{pass.end|date:"d.m.Y"}}
                       <br>
                    можно продлить c {{car.date_extended_pass_year_night}}
                    {% endif %}

                    {% endfor %}
                </h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock content %}
